<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!--<script src="https://demo.hellozwh.com/source/canvas-nest.min.js"></script>-->
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

	<![endif]-->

	<!-- Le styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/xuanzhuan.css">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->

	<!-- Le fav and touch icons -->
	<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
	<!--<link href="//cdn2.jianshu.io/assets/favicons/favicon-e743bfb1821442341c3ab15bdbe804f7ad97676bd07a770ccc9483473aa76f06.ico" rel="shortcut icon">-->
	<link href="{{ site.url }}/img/Farvon.ico" rel="shortcut icon"/>
	<!--<link href="../img/Farvon.ico" rel="shortcut icon"/>-->

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
	<script src="../assets/js/big_zhizhu.js"></script>

</head>

<body style="background: #eeeeee" onload="checkCookie()">
	<!--<canvas id="web" width="1000px" style="margin-left: 250px;"></canvas>-->
	<!--Begin: 不要旋转球

	<div class="container">
      <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
      <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
     	  <div class="ball"></div>
      <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
		  <div class="ball"></div>
    </div>
		END：不要旋转球-->
	<!--<script src="https://demo.hellozwh.com/source/canvas-nest.min.js"></script>-->
	<nav class="navbar navbar-default visible-xs" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% if site.author.github %}
			<a type="button" class="navbar-toggle nav-link" href="http://github.com/{{ site.author.github }}">
				<i class="fa fa-github"></i>
			</a>
			{% endif %}
			{% if site.author.twitter %}
			<a type="button" class="navbar-toggle nav-link" href="http://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-twitter"></i>
			</a>
			{% endif %}
			{% if site.author.email %}
			<a type="button" class="navbar-toggle nav-link" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope"></i>
			</a>
			{% endif %}
			<a class="navbar-brand" href="{{ site.BASE_PATH }}/">
				<img src="//www.gravatar.com/avatar/{{site.author.email_md5}}?s=35" class="img-circle" />
				{{ site.title }}
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ site.BASE_PATH }}/">Home</a></li>
				<li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}">Categories</a></li>
				<li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}">Tags</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>

	<!-- nav-menu-dropdown -->
	<div class="btn-group hidden-xs" id="nav-menu">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bars"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ site.BASE_PATH}}/"><i class="fa fa-home"></i>Home</a></li>
			<li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}"><i class="fa fa-folder"></i>Categories</a></li>
			<li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}"><i class="fa fa-tags"></i>Tags</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
		</ul>
	</div>

	<div class="col-sm-3 sidebar hidden-xs" style="{% if site.sidebar_background_image %}background: url({{site.sidebar_background_image}}) no-repeat !important;{% endif %}">
		{% include sidebar.html %}
	</div>

	<div class="col-sm-9 col-sm-offset-3">
		{{ content }}

		<footer>
			<hr/>
			<p>
				&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} with <a href="http://jekyllrb.com/">Jekyll</a>.
				Wechat: {{site.author.wechat}}
				 <!-- <a href="{{ site.BASE_PATH }}/assets/html/wechat.html" target="_blank">二维码</a>.	 -->
				 <a href="#MyModal" data-toggle="modal" target="_blank"><kbd>二维码</kbd></a>.
			 </p>
		</footer>
	</div>

    <!--模态框（弹出框）-->
	  <div class="modal fade col-sm-6 " id="MyModal">
	      <div class="modal-dialog ">
	          <div class="modal-content">
	              <!--头部：-->
	              <div class="modal-header bg-dark text-white">
	                   <h4 class="modal-title">扫一扫二维码添加微信</h4>
	                   <button type="button" class="close text-white" data-dismiss="modal">&times;</button>

	              </div>
	              <!--身体-->
	              <div class="modal-body" align="center">
	                  <img src="{{ site.BASE_PATH }}/assets/media/wechat.png" height="376" width="285"/>
	                  <!--弹出框的内容-->
	              </div>
	              <!--&lt;!&ndash;底部&ndash;&gt;-->
	              <!--<div class="modal-footer">-->
	                  <!--<buttont class="btn btn-secondary" data-dismiss="modal">btn关闭</buttont>-->
	              <!--</div>-->

	          </div>
	      </div>
    </div>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/zhizhu.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/big_zhizhu.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/check_cookie.js"></script>
  <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> -->

</body>
</html>
